<html>
	<head>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- <link type="text/css" rel="stylesheet" href="styles.css"> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	
	<body>
		{{#data}}
		<h3>{{title}}</h3>
		{{#pages}}
		{{#page}}
		<table id="main-data" class="table table-bordered" style="width:20%;float:left;">
			<tr>
				<td align="center" colspan="3" style="background-color:#FF99CC !important;">{{site_name}}</td>
			</tr>
			{{#rows}}
			<tr>
				{{#carpenter}}<td  align = "center" style="background-color:{{color}} !important; width:33%;">{{emp_name}}<br>{{emp_id}}</td>{{/carpenter}}
				{{#mason}}<td align = "center" style="background-color:{{color}} !important; width:33%;">{{emp_name}}<br>{{emp_id}}</td>{{/mason}}
				{{#laborer}}<td align = "center" style="background-color:{{color}} !important; width:34%;">{{emp_name}}<br>{{emp_id}}</td>{{/laborer}}
			</tr>
			{{/rows}}
		</table>
		{{/page}}
		<br/>
		<p style="page-break-after:always;"></p>
		{{/pages}}
		{{/data}}
	</body>

</html>
