<html>
	<head>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- <link type="text/css" rel="stylesheet" href="styles.css"> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<h3>{{title}}</h3>
		<h4>{{week_range}}</h4>
		<table class="table table-bordered">
			{{#data}}
			<tr>
				<th style="background-color:{{header_color}} !important;">Name</th>
				<th style="background-color:{{header_color}} !important;">Trade</th>
				<th style="background-color:{{header_color}} !important;">Employee</th>
				{{#datesHeader}}
				<th style="background-color:{{header_color}} !important;">{{header}}</th>
				{{/datesHeader}}
			</tr>
			{{#employeesArray}}
			<tr>
				<td style="padding:0px !important;">{{name}}</td>
				<td style="background-color:{{color}} !important;">{{trade}}</td>
				<td>{{emp_id}}</td>
				{{#work_sites}}
				<td style="padding:0px !important;">{{site}}</td>
				{{/work_sites}}
			</tr>
			{{/employeesArray}}
			{{/data}}
		</table>
	</body>

</html>
