<html>
	<head>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		{{#data}}
		<table class="table table-bordered text-center">
			{{#days}}
			<tr>
				<td align="right" width="25%">WORK WEEK BEGINNING SATURDAY:</td>
				<td width="10%">{{sat}}/{{year}}</td>
				<td rowspan="2" align="center" width="65%"><h1>{{title}}<br>WEEKLY TIMECARD</h1></td>
			</tr>
			<tr>
				<td align="right" width="20%">WORK WEEK BEGINNING SATURDAY:</td>
				<td width="10%">{{sat}}/{{year}}</td>
			</tr>
			{{/days}}
		</table>
		<!--  -->
		{{#employees}}
		<table class="table table-bordered text-center">
			<tr>
				<th rowspan="3" style="background-color:{{header_color}} !important;">Employee<br>Name</th>
				<th rowspan="3" style="background-color:{{header_color}} !important;">Job<br>Name</th>
				<th rowspan="3" style="background-color:{{header_color}} !important;">Job<br>Number</th>
				<th rowspan="3" style="background-color:{{header_color}} !important;">Phase<br>Code</th>
				<th rowspan="3" style="background-color:{{header_color}} !important;">Phase Code<br>Description</th>
				<th rowspan="3" style="background-color:{{header_color}} !important;">Loc-<br>ation</th>
				<th rowspan="3" style="background-color:{{header_color}} !important;">Task</th>
				{{#days}}
				<th colspan="2" style="background-color:{{header_color}} !important;">{{sat}}</th>
				<th style="background-color:{{header_color}} !important;">{{sun}}</th>
				<th colspan="3" style="background-color:{{header_color}} !important;">{{mon}}</th>
				<th colspan="3" style="background-color:{{header_color}} !important;">{{tue}}</th>
				<th colspan="3" style="background-color:{{header_color}} !important;">{{wed}}</th>
				<th colspan="3" style="background-color:{{header_color}} !important;">{{thu}}</th>
				<th colspan="3" style="background-color:{{header_color}} !important;">{{fri}}</th>
				{{/days}}
				<th rowspan="3" style="background-color:{{header_color}} !important;">T#</th>
				<th rowspan="3" style="background-color:{{header_color}} !important;">Notes</th>
			</tr>
			<tr>
				<th colspan="2" style="background-color:{{header_color}} !important;">Sat</th>
				<th style="background-color:{{header_color}} !important;">Sun</th>
				<th colspan="3" style="background-color:{{header_color}} !important;">Mon</th>
				<th colspan="3" style="background-color:{{header_color}} !important;">Tue</th>
				<th colspan="3" style="background-color:{{header_color}} !important;">Wed</th>
				<th colspan="3" style="background-color:{{header_color}} !important;">Thu</th>
				<th colspan="3" style="background-color:{{header_color}} !important;">Fri</th>
			</tr>
			<tr>
				<!-- Sat -->
				<th class="text-center" style="background-color:{{header_color}} !important; padding:1px !important;">OT</th>
				<th class="text-center" style="background-color:{{header_color}} !important; padding:1px !important;">DT</th>
				<!-- Sun -->
				<th class="text-center" style="background-color:{{header_color}} !important; padding:1px !important;">DT</th>
				<!-- Mon -->
				<th class="text-center" style="background-color:{{header_color}} !important; padding:1px !important;">ST</th>
				<th class="text-center" style="background-color:{{header_color}} !important; padding:1px !important;">OT</th>
				<th class="text-center" style="background-color:{{header_color}} !important; padding:1px !important;">DT</th>
				<!-- Tue -->
				<th class="text-center" style="background-color:{{header_color}} !important; padding:1px !important;">ST</th>
				<th class="text-center" style="background-color:{{header_color}} !important; padding:1px !important;">OT</th>
				<th class="text-center" style="background-color:{{header_color}} !important; padding:1px !important;">DT</th>
				<!-- Wed -->
				<th class="text-center" style="background-color:{{header_color}} !important; padding:1px !important;">ST</th>
				<th class="text-center" style="background-color:{{header_color}} !important; padding:1px !important;">OT</th>
				<th class="text-center" style="background-color:{{header_color}} !important; padding:1px !important;">DT</th>
				<!-- Thu -->
				<th class="text-center" style="background-color:{{header_color}} !important; padding:1px !important;">ST</th>
				<th class="text-center" style="background-color:{{header_color}} !important; padding:1px !important;">OT</th>
				<th class="text-center" style="background-color:{{header_color}} !important; padding:1px !important;">DT</th>
				<!-- Fri -->
				<th class="text-center" style="background-color:{{header_color}} !important; padding:1px !important;">ST</th>
				<th class="text-center" style="background-color:{{header_color}} !important; padding:1px !important;">OT</th>
				<th class="text-center" style="background-color:{{header_color}} !important; padding:1px !important;">DT</th>
			</tr>
			{{#firstJob}}
			<tr>
				<td rowspan="{{noOfJobs}}">{{emp_name}}</td> 
				<td>{{name}}</td> 
				<td>{{number}}</td> 
				<td>{{phase_code}}</td>
				<td>{{phase_code_desc}}</td>
				<td>{{location}}</td>
				<td>{{task}}</td>
				{{#hours}}
				<!-- Sat -->
				{{#sat}}
				<td>{{ot}}</td>
				<td>{{dt}}</td>
				{{/sat}}
				<!-- Sun -->
				{{#sun}}
				<td>{{dt}}</td>
				{{/sun}}
				<!-- Mon -->
				{{#mon}}
				<td>{{st}}</td>
				<td>{{ot}}</td>
				<td>{{dt}}</td>
				{{/mon}}
				<!-- Tue -->
				{{#tue}}
				<td>{{st}}</td>
				<td>{{ot}}</td>
				<td>{{dt}}</td>
				{{/tue}}
				<!-- Wed -->
				{{#wed}}
				<td>{{st}}</td>
				<td>{{ot}}</td>
				<td>{{dt}}</td>
				{{/wed}}
				<!-- Thu -->
				{{#thu}}
				<td>{{st}}</td>
				<td>{{ot}}</td>
				<td>{{dt}}</td>
				{{/thu}}
				<!-- Fri -->
				{{#fri}}
				<td>{{st}}</td>
				<td>{{ot}}</td>
				<td>{{dt}}</td>
				{{/fri}}
				{{/hours}}
				<td>{{jobHours}}</td>
				<td>{{notes}}</td>
			</tr>
			{{/firstJob}}
			{{#jobs}}
			<tr>
				<td>{{name}}</td> 
				<td>{{number}}</td> 
				<td>{{phase_code}}</td>
				<td>{{phase_code_desc}}</td>
				<td>{{location}}</td>
				<td>{{task}}</td>
				{{#hours}}
				<!-- Sat -->
				{{#sat}}
				<td>{{ot}}</td>
				<td>{{dt}}</td>
				{{/sat}}
				<!-- Sun -->
				{{#sun}}
				<td>{{dt}}</td>
				{{/sun}}
				<!-- Mon -->
				{{#mon}}
				<td>{{st}}</td>
				<td>{{ot}}</td>
				<td>{{dt}}</td>
				{{/mon}}
				<!-- Tue -->
				{{#tue}}
				<td>{{st}}</td>
				<td>{{ot}}</td>
				<td>{{dt}}</td>
				{{/tue}}
				<!-- Wed -->
				{{#wed}}
				<td>{{st}}</td>
				<td>{{ot}}</td>
				<td>{{dt}}</td>
				{{/wed}}
				<!-- Thu -->
				{{#thu}}
				<td>{{st}}</td>
				<td>{{ot}}</td>
				<td>{{dt}}</td>
				{{/thu}}
				<!-- Fri -->
				{{#fri}}
				<td>{{st}}</td>
				<td>{{ot}}</td>
				<td>{{dt}}</td>
				{{/fri}}
				{{/hours}}
				<td>{{jobHours}}</td>
				<td>{{notes}}</td>
			</tr>
			{{/jobs}}
			<tr>
				<td colspan="22" align="right" style="color:#ff0000 !important">Total Hours</td>
				<td style="color:#ff0000 !important">{{totalStHours}}</td>
				<td style="color:#ff0000 !important">{{totalOtHours}}</td>
				<td style="color:#ff0000 !important">{{totalDtHours}}</td>
				<td style="color:#ff0000 !important">{{totalHours}}</td>
				<td></td>
			</tr>
		</table>
		{{/employees}}
		{{/data}}
	</body>

</html>